body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 10; /* Keeps the header above other elements */
}

.title-container {
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* Ensures both buttons are positioned correctly */
.signin-btn-container, .logout-btn-container {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.signin-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007BFF;
  border: 2px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.signin-btn:hover {
  background-color: #0056b3;
}

.logout-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #dc3545; /* Red color to signify action */
  border: 2px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.logout-btn:hover {
  background-color: #c82333; /* Darker red on hover */
  border-color: #bd2130;
}

main {
  margin-top: 80px;
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.container {
  position: relative;
  padding-top: 100px; /* Adjust based on the height of the header */
}

.container h1 {
  z-index: 10; /* Ensures the header stays above the content */
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #333;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
}

.container .images-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  max-width: 100%; /* Ensures the container doesn't exceed the page width */
  padding: 10px;
  /* overflow-y: auto; /* Ajoute un défilement si nécessaire * */
}

.container .images-container .image {
  height: 180px;
  width: 250px;
  border: 10px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  overflow: hidden;
  cursor:pointer ;
}

.image {
  height: 100%;
  width: 100%;
  border: 10px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition effect for scaling */
  object-fit: cover;
  flex: 0 1 250; /* Allows the item to shrink if needed */
}

.image:hover {
  transform: scale(1.03); /* Slightly less scale to avoid overflow */
  z-index: 1;
}

footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
