/* Ensure the html and body take up full height */
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Flex container for body to push footer to bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

header {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 10;
}

main {
  flex: 1; /* Ensures the main content takes available space */
  margin-top: 50px;
  padding-top: 70px; /* Adjust based on the height of the header */
  padding-bottom: 60px; /* Ensure space at the bottom for the footer */
  overflow: auto; /* Allow scrolling if needed */
}

/* Footer adjustments */
footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  z-index: 9;
}

.image-title {
  font-size: 20px;
  color: #fff;
  margin: 0;
  padding: 40px;
  word-break: break-word; /* Break long titles */
  text-align: center;
}

.title-container {
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Ensures both buttons are positioned correctly */
.signin-btn-container, .logout-btn-container {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.signin-btn, .logout-btn, .upload-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.signin-btn {
  background-color: #007BFF;
}

.logout-btn {
  background-color: #dc3545; /* Red color to signify action */
}

.upload-btn {
  background-color: #28a745; /* Green color for upload button */
  margin-top: 20px 40%; /* Optional: Adds some space above the button */
}

.delete-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: none;
  font-size: 14px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #0056b3;
}

.pagination button:hover {
  background-color: #0057b390;
}

.signin-btn:hover {
  background-color: #0056b3;
}

.logout-btn:hover {
  background-color: #c82333; /* Darker red on hover */
  border-color: #bd2130;
}

.upload-btn:hover {
  background-color: #218838; /* Darker green on hover */
  border-color: #1e7e34;
}

.upload-container {
  display: none;
  justify-content: center; /* Centers the button horizontally */
  align-items: center; /* Centers the button vertically */
  margin-top: 20px; /* Adds some space above the container */
}

p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.container {
  position: relative;
  padding-top: 100px; /* Adjust based on the height of the header */
  padding: 20px;
}

.container h1 {
  z-index: 10; /* Ensures the header stays above the content */
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #333;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
}

.container .images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  max-width: 100%; /* Ensures the container doesn't exceed the page width */
  padding: 10px;
  /* overflow-y: auto; /* Ajoute un défilement si nécessaire * */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container .popup-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 100%;
  z-index: 10;
}

.container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #4f446e;
  border-radius: 5px;
  max-width: 70%;
  max-height: 50%;
  object-fit: cover;
}

@media (max-width: 650px) {
  .container .popu-image img {
    width: 95%;
  }
}

/* Style for individual image containers */
.image {
  position: relative;
  cursor: pointer;
  width: 300px; /* Width of the image container */
  height: 200px; /* Height of the image container */
  overflow: hidden; /* Ensures image scaling does not overflow */
  border: 5px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Hover effect */
.image:hover {
  transform: scale(1.05); /* Zoom effect */
}

