body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.title-container {
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* Ensures both buttons are positioned correctly */
.signin-btn-container, .logout-btn-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.signin-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007BFF;
  border: 2px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.signin-btn:hover {
  background-color: #0056b3;
}

.logout-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #dc3545; /* Red color to signify action */
  border: 2px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.logout-btn:hover {
  background-color: #c82333; /* Darker red on hover */
  border-color: #bd2130;
}

main {
  margin-top: 80px;
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}
